html,body {	margin: 0;
			padding: 0;
			background-image: url("../img/bodybkg.jpeg");
}
.container {width: 1024px;
			margin: 0 auto;
			background-image: url("../img/bodybkg.jpeg");}
.header {	width: 1022px;
			height: 187px;
			background-image: url("../img/header.jpeg");
			vertical-align: center;}
.content {	width: 596px;
			height: 1146px;
			background-image: url("../img/content.jpeg");}