/*<style>
   		.leftstr, .rightstr {float: none; /* Обтекание справа 
    						width: 50%; /* Ширина текстового блока }
   		.rightstr 	{text-align: right; /* Выравнивание по правому краю }
   		background-color: #3366CC;
</style>*/
body {	background-image: url(../images/background.png);
	  	background-position:  right top;
		background-repeat: no-repeat;
		background-size: 10% auto;}
.leftstr, .rightstr {float: left; /* Обтекание справа */
					 width: 50%; /* Ширина текстового блока */}
.rightstr 	{text-align: right; /* Выравнивание по правому краю */}
ul a {	color: orange;
		font: bold italic small-caps 12px/14px fantasy;}
ul a:hover {	color: orange;
				font: bold italic small-caps 24px/14px fantasy;}
p.papers_a a {	font: bold italic 110% serif;
				color: }
